body {
    width: 80%;
    margin: auto;
    background-color: #eafafe;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav > ul > li > a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.circle-photo {
    border-radius: 50%;
    border: 3px solid #007bff;
}

.dark-mode {
  background-color: black !important;
  color: white !important;
}

h1, h2, h3 {
    color: #333;
}
